.Pizza-Info {
  display: flex;
  justify-content: center;

  .pizza-info-wrapper {
    width: 1255px;
    margin-top: 38px;
    height: 100%;
    border-radius: 10px;
    background-color: #fffbeb;
  }
}
